@import "tailwindcss";

@theme {
  --color-prideOrange: #F58220;
  --color-prideDark: #111111;
  --color-prideGray: #F9FAFB;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #ffffff;
    color: var(--color-prideDark);
  }
}